/* Terminal */
.terminal-view {
    /*width: calc(100% * var(--animation-scale) - 40px);*/
    width: calc(100% - 40px);
    transform: scale(var(--animation-scale));
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    top: 40px;

    border: 3px solid var(--dark-cl);
    background-color: var(--background-cl);
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.terminal-view {
    opacity: 0%;
    animation: opacity 700ms 2500ms forwards;
}

.terminal-text-view {
    border: 1px solid var(--very-dark-cl);
    flex: 1 1 auto;
    padding: 10px;
    
    width: calc(100% * var(--animation-scale) - 22px);

    color: var(--main-cl);
    font-family: Fira-Code, monospace;
    font-size: var(--font-size-terminal);
    text-transform: none;
    overflow: auto;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.terminal-text-view::-webkit-scrollbar {
    display: none;
}

@keyframes content-slide-in {
    0% {transform: translateX(2px);}
    100% {transform: translateX(0);}
}

.terminal-text-view .inserted-content {
    overflow-anchor: none;
    white-space: pre;
    animation: content-slide-in 50ms forwards;
}

.terminal-text-view .anchor {
    overflow-anchor: auto;
    height: 1px;
}

.terminal-view #terminal-textarea {
    background-color: var(--background-cl);
    color: var(--main-cl);
    border: 1px solid var(--very-dark-cl);
    border-top: 0;
    outline: none;

    font-family: Fira-Code, monospace;
    font-size: var(--font-size-terminal);
    font-weight: 400;

    box-sizing: border-box;
    height: 25px;
    padding: 10px;
    flex-shrink: 0;
    resize: none;

    display: flex;

    text-transform: none;
    text-align: start;
    text-decoration: none;

    caret-color: transparent;

    --caret-pos: 0;
}

@media (min-width: 1920px) {
    .terminal-view #terminal-textarea {
        height: 27px;
    }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.terminal-view #terminal-textarea:after {
    content: "";
    display: inline-block;
    width: calc(var(--font-size-terminal)/2);
    height: calc(var(--font-size-terminal) + 2px);
    margin-left: calc(var(--caret-pos) * -8.63px);
}

.terminal-view #terminal-textarea.active:after {
    background-color: var(--main-cl);
    animation: blink-animation 1.05s steps(2, start) infinite;
    -webkit-animation: blink-animation 1.05s steps(2, start) infinite;
}

.terminal-text-view .inserted-content::after {
    content: " ";
}